@import url('./reset.css');

.profile-picture {
    width: 150px; /* Set the size of the container */
    height: 150px; /* Set the size of the container */
    background-image: url('/images/Bateman, Patrick_Headshot.jpeg'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the container without distortion */
    background-position: center top; /* Adjust the visible portion of the image */
    border-radius: 50%; /* Makes the container circular, optional */
    margin: 0 auto; /* Centers the container horizontally */
}